body {
    background-color: rgba(240, 216, 6, 0.918);
}
header{
    background-color: black;
    height: 80px;
    color: snow;
}
.conatiner {
    max-width: 1170px;
}
.title h1 {
    float: left;
    font-family: 'Pacifico', cursive;
    margin: 10px 0;
}
.title-page {
    color: rgb(82, 199, 245);
}   
.nav{
    float: right;
    line-height: 40px;
} 
.search {
    background-color: rgba(240, 216, 6, 0.918);
}

/* Content */
main{
    clear: both;
}
/* logo */
.logo-main{
    text-align: center;
    font-family: 'Pacifico', cursive;
}
.title-logo{
    margin: 20px 0;
    font-size: 40px;
    color: snow;
}
.line-logo{
    align-items: center;
}

.main-content {
    padding: 5px;
}


/* Card */
.card-body {
    color: snow;
    background-color: black;
}
.nationality {
    margin-left: 225px;
}
.national {
    margin-left: 210px;
}

/* Right Side */
.card-img {
    height: 250px;
}
/* Right Side */
.card-body h6 {
    text-align: center;
}
.card-text {
    display: inline-block;
    margin-top: 7px;
}
.nationality {
    display: inline-block;
    height: 20px;
}
.contents-item img {
    display: flex;
    height: 200px;
    margin-bottom: 50px;
}
.fb{
    height: 230px;
}
.left {
    margin-left: 80px;
}


/* Contact */
.contents-item {
    float: left;
    margin-right: 40px;
}

.mb-4{
    clear: both;
    margin-left: 200px;
}
/* content-change-background */
.main-button {
    background-color: rgb(180, 180, 180);
    
}
/* Button */
.other {
    margin-top: 50px;
    display: inline-block;
    clear: both;
    color: black;
}
.btn {
    padding: 12px 24px;
}
.btn-primary {
    text-align: center;
}
.message-wrapper {
    text-align: center;
}
.change {
    background-color:  rgba(240, 216, 6, 0.918);
    padding: 15px 40px;
    cursor: pointer;
    box-shadow: 0 10px rgb(83, 83, 83);
    margin-bottom: 100px;
}
.change:active {
    background-color: rgb(82, 199, 245);
    position: relative;
    top: 5px;
    box-shadow: none;
}